body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.flx {
  display: flex;
}
.half-width {
  width: 40%;
  margin: auto;
}
.half-width h1 {
  font-size: 60px;
}
.half-width h2 {
  font-size: 50px;
}
.half-width h2 span {
  color: orange;
}
.half-width h4 {
  font-size: 20px;
}
.half-width img {
  width: 100%;
}
.half-width a {
  padding: 10px 40px;
  background-image: linear-gradient(orange, #402d09);
  color: #fff;
  text-decoration: none;
  border-radius: 7px;
}
