* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #000000;
  color: #fff;
}
.heading {
  text-align: center;
  font-size: 3rem;
  margin: 60px 0;
}
h4 {
  text-align: center;
}
.para {
  padding: 3rem 0;
  text-align: center;
  font-size: 1.3rem;
}

h3 {
  text-align: center;
  font-size: 1.7rem;
  font-family: initial;
}
