body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.flx {
  display: flex;
  flex-direction: row;
}

.peter-parkar-section {
  margin-bottom: 100px;
  background-image: url(/images/top-banner.png);
  background-repeat: no-repeat;
}
.half-width {
  width: 40%;
  margin: auto;
}
.half-width h1 {
  font-size: 60px;
}
.half-width h2 {
  font-size: 50px;
}
.half-width h2 span {
  color: orange;
}
.half-width h4 {
  font-size: 20px;
}
.half-width p {
  font-size: 18px;
}
.half-width img {
  width: 100%;
}
.half-width a {
  padding: 10px 40px;
  background-image: linear-gradient(orange, tomato);
  color: #fff;
  text-decoration: none;
  border-radius: 7px;
  margin-top: 10px;
}
.dream-big-section {
  background-image: url(../images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 98%;
  padding-bottom: 63px;
}
.expreian-section {
  margin-top: 50px;
  background-image: url(images/exp-bg.png);
  background-position-y: 74%;
  background-repeat: no-repeat;
}
.expreian-section h2 {
  font-size: 40px;
  margin-left: 40px;
}
.card-item {
  padding: 0 20px;
  box-shadow: 5px 5px 40px black;
  margin-top: 30px;
  margin-bottom: 100px;
  border-radius: 0 10px 10px 0;
  width: 38%;
}
.card-item h6 {
  color: orange;
  font-size: 20px;
}
.expren-card-item-one {
  border-left: 7px solid blue;
}
.expren-card-item-two {
  border-left: 7px solid tomato;
}
.footer h5 {
  text-align: center;
  font-size: 20px;
}
