* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.heading {
  text-align: center;
  font-size: 3rem;
  margin: 60px 0;
}
.para {
  padding: 3rem 0;
  text-align: center;
  font-size: 1.3rem;
}
